{% extends 'base.html' %} {% block main %}
<div class="container" id="main">
    <div class="row">
        <div class="col-md-8">
            <br>
            <h1>{{ issue.title }}</h1>
            <hr>
            <p class="description">{{ issue.description_as_html|safe }}</p>
            <div role="tablist" id="accordion-1">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3">Revision History ({{ issue.revisions|length }})</a>
                        </h5>
                    </div>
                    <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            {% for item in issue.revisions %}
                                <p class="card-text">
                                    Changes were made in <strong>{{ item['issuesha'] }}</strong>. <br> By <strong>{{ item['author'] }}</strong>  on <strong>{{ item['date'] }}</strong>.
                                </p>
                                {% for changed_property in item['changes'] %}
                                    <p class="card-text">
                                        <strong> {{changed_property}}</strong>  changed to <strong>{{item['changes'][changed_property]}}</strong>
                                    </p>
                                {% endfor %}
                                <hr> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2">Present in Commits ({{ issue.activity|length }})</a>
                        </h5>
                    </div>
                    <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            {% for item in issue.activity %}
                                <p class="card-text">
                                    <strong>{{ item['commitsha'] }}</strong>
                                </p>
                                <p class="card-text">
                                    Date: <strong>{{ item['date'] }}</strong></p>
                                <p class="card-text">
                                    Author: <strong>{{ item['author'] }}</strong> </p>
                                <p class="card-text">
                                    Summary: <strong>{{ item['summary'] }}</strong></p>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <div>
                    <label>Issue ID</label>
                    <p>{{issue.issue_id}}</p>
                    <hr>
                </div>
                <div>
                    <label>Status</label>
                    <p class="{{ issue.status[0] }}">{{ issue.status[0] }} ({{ issue.status[1] }})</p>
                </div>
                <div>
                    <label>Latest File Path</label>
                    <p>{{issue.file_path}}</p>
                    <hr>
                </div>
                {% if issue.file_paths %}
                <div>
                    <label>File paths in branches</label>
                    {% for branch, file_path in issue.file_paths.items() %}
                        <p>{{file_path}} @ {{branch}} ({{'open' if branch in issue.open_in_branches else 'closed'}})</p>
                    {% endfor %}
                    <hr>
                </div>
                {% endif %}
                {% if issue.blockers|length > 0 %}
                <div>
                    <label>Blockers</label>
                    {% for blocker_id, blocker_issue in issue.blockers.items() %}
                         <p>
                             {% if blocker_issue %}
                                <a href='/{{ blocker_issue.issue_id }}'>
                                {% if blocker_issue.status[0] == 'Closed' %}
                                    <strike>{{blocker_id}}</strike>
                                {% else %}
                                    {{blocker_id}}
                                {% endif %}
                                </a>
                             {% else %}
                                 {{blocker_id}}
                             {% endif %}
                             ,
                         </p>
                    {% endfor %}
                    <hr>
                </div>
                {% endif %}
                <div>
                    <label>Size</label>
                    <p>{{issue.size}} Bytes</p>
                    <hr>
                </div>
                {% if issue.closer %}
                <div>
                    <label>Closed By</label>
                    <p>{{issue.closer}}</p>
                    <p>{{issue.closed_date}}</p>
                    <hr>
                </div>
                {% endif %}
                <div>
                    <label>Last Author</label>
                    <p>{{issue.last_author}}</p>
                    <p>{{issue.last_authored_date}}</p>
                    <hr>
                </div>
                <div>
                    <label>Creator</label>
                    <p>{{issue.creator}}</p>
                    <p>{{issue.created_date}}</p>
                    <hr>
                </div>
                <div>
                    <label>Participants</label>
                    <p>
                    {% for participant in issue.participants %}
                        {{participant}},
                    {% endfor %}
                    </p>
                    <hr>
                </div>
                {% if issue.assignees %}
                <div>
                    <label>Assigned To</label>
                    <p>{{issue.assignees}}</p>
                    <hr>
                </div>
                {% endif %}
                {% if issue.due_date %}
                <div>
                    <label>Due Date</label>
                    <p>{{issue.due_date}}</p>
                    <hr>
                </div>
                {% endif %}
                {% if issue.label %}
                <div>
                    <label>Labels</label>
                    <p>{{issue.label}}</p>
                    <hr>
                </div>
                {% endif %}
                {% if issue.weight %}
                <div>
                    <label>Weight</label>
                    <p>{{issue.weight}}</p>
                    <hr>
                </div>
                {% endif %}
                {% if issue.priority %}
                <div>
                    <label>Priority</label>
                    <p>{{issue.priority}}</p>
                    <hr>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}